# Association rule mining with Apriori algorithm

In [89]:
import numpy as np
import pandas as pd
import re
from efficient_apriori import apriori

## Data preparation

In [90]:
colnames = ["class_name","handicapped_infants","water_project_cost_sharing","adoption_of_the_budget_resolution",
            "physician_fee_freeze","el_salvador_aid","religious_groups_in_schools","anti_satellite_test_ban",
            "aid_to_nicaraguan_contras","mx_missile","immigration","synfuels_corporation_cutback",
            "education_spending","superfund_right_to_sue","crime","duty_free_exports",
            "export_administration_act_south_africa"]

data = pd.read_csv("/home/laura/Scrivania/KDMproj/house-votes-84.txt", sep = ',',na_values = '?', header = None, 
                   names = colnames)
data = pd.DataFrame(data)


data["republican"] = 0
data.loc[data.class_name=="republican","republican"] = pd.Series(np.ones(len(data.class_name=="republican"),dtype=int))
del data["class_name"]
del colnames[0]
data = data.dropna(axis = 0) #working with the assumption: complete data


data.head()

,handicapped_infants,water_project_cost_sharing,adoption_of_the_budget_resolution,physician_fee_freeze,el_salvador_aid,religious_groups_in_schools,anti_satellite_test_ban,aid_to_nicaraguan_contras,mx_missile,immigration,synfuels_corporation_cutback,education_spending,superfund_right_to_sue,crime,duty_free_exports,export_administration_act_south_africa,republican
5,n,y,y,n,y,y,n,n,n,n,n,n,y,y,y,y,0
8,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,y,1
19,y,y,y,n,n,n,y,y,y,n,y,n,n,n,y,y,0
23,y,y,y,n,n,n,y,y,y,n,n,n,n,n,y,y,0
25,y,n,y,n,n,n,y,y,y,y,n,n,n,n,y,y,0

In [91]:
transactions = []
for i in range(len(data)):
    t = []
    for j in range(len(data.columns)-1):
        if data.iloc[i,j] == "y":
            t.append(data.columns[j])
    if data.iloc[i,16] == 1:
        t.append("republican")
    else:
        t.append("democrat")
    transactions.append(t)

## Association rule extraction

In [92]:
itemset, rules = apriori(transactions, min_support=0.8, min_confidence=0)

In [93]:
clean_rules = []
for rule in rules:
    s=str(rule)
    s=re.sub(" \(.*", "", s)
    s=re.sub("{", "", s)
    s=re.sub("}", "", s)
    s=s.split(" -> ")
    for i, sub in enumerate(s):
        s[i] = set(sub.split(", "))
    clean_rules.append(s)

In [94]:
print("\n{} rules found \n".format(len(clean_rules)))

0 rules found

In [95]:
min_cons = []
for rule in clean_rules:
    if len(rule[1]) == 1:
        min_cons.append(rule)

min_pred = []
min_rules = []
for rule in min_cons:
    is_minimal = True
    for p in min_pred:
        if p < rule[0]:
            is_minimal = False
    if is_minimal:
        min_pred.append(rule[0])
        min_rules.append(rule)

print("\n{} minimal rules found \n".format(len(min_rules)))

0 minimal rules found

In [96]:
min_rules

[]